<!doctype html>


<html lang="en">
<head>
  <meta charset="utf-8">


  <title>Login</title>

<link href='/stylesheets/style.css' type="text/css" rel="stylesheet">


</head>


<body>
<div class="parent">
	<div class="block1">

		<h1 align="center">Login</h1>
</br>
    <img src='/images/avatar.png' class="round" width=80 height=80 alt="Avatar" /><br>

		<form action='/login' method='POST'>
			Username:

      <br/>
			<input type='text' name='username' />
      <br/>
      <br/>
			Password:

      <br/>
			<input type='password' name='password' />
			<br/>
      <br/>

    <br /><br />
			<input type="submit" class="but" value='Login' />




    <a href="/register">    Registration</a>

		</form>
	</div>
</div>

  <script src="js/scripts.js"></script>
</body>
</html>
