<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Main</title>
  <meta charset="utf-8">
<meta name="description" content="The HTML5 Herald">
<meta name="author" content="SitePoint">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/javascripts/main.js"></script>

<link href='/stylesheets/style.css' type="text/css" rel="stylesheet">

<script src="/javascripts/onstart.js"></script>

</head>

<body>
<div>
      <div class="logblock" id="logb">


        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
                        <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                        <li><a href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% } else { %>
                        <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li><a href = '/user_profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <% } %>
</ul>

     </div>
   </div>

<div>
     <div class="mainimage" id="log2">
         <img src='/images/books.png' width=150 height=110 alt="Books"/></br></br><br>
         <a href = '/'><p class="p1">Main page</p></a>

         <a href = '/articles'><p class="p1">Article list</p></a>
         <hr>
       <p class="p1">  Participation</p>

          <% if (!user) { %>
     <p class="p2">Login first.</p>
                    <% } else { %>
                        <a href = '/new_article'><p class="p2">Create article</p></a>

                    <% } %>
         <a href = '/help'><p class="p2">Help</p></a><br>



    Search:<br>
    <input type="search"   id="search">

       <div id="results">
       </div>




     </div>

     <div class="maintext" id="logb2">
       Text
     </div>
     <div>


<script src="/javascripts/search.js"></script>
</body>
</html>
