<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Main</title>
  <meta charset="utf-8">
<meta name="description" content="The HTML5 Herald">
<meta name="author" content="SitePoint">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='/stylesheets/style.css' type="text/css" rel="stylesheet">

</head>

<body>

<div class="mainimage">
    <img src='/images/books.png' width=150 height=110 alt="Books"/>
</div>
      <div class="logblock">
        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
                        <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                        <li><a href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% } else { %>
                        <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li><a href = '/profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <% } %>
</ul>

     </div>


  <div class='container'>

</div>


</body>
</html>
