<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Creator</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <link href='/stylesheets/style.css' type="text/css" rel="stylesheet">

<script src="/javascripts/onstart.js"></script>

</head>

<body>
  <div>
        <div class="logblock" id="logb">


          <ul class="nav navbar-nav navbar-right">
            <% if (!user) { %>
                          <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                          <li><a href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      <% } else { %>
                          <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                          <li><a href = '/user_profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                      <% } %>
  </ul>

       </div>
     </div>

  <div>
       <div class="mainimage" id="log2">
           <img src='/images/books.png' width=150 height=110 alt="Books"/></br></br><br>
           <a href = '/'><p class="p1">Main page</p></a>

           <a href = '/articles'><p class="p1">Article list</p></a>
           <hr>
         <p class="p1">  Participation</p>

            <% if (!user) { %>
       <p class="p2">Login first.</p>
                      <% } else { %>
                          <a href = '/new_article'><p class="p2">Create article</p></a>

                      <% } %>
           <a href = '/help'><p class="p2">Help</p></a><br>
       </div>


       <div class="profiletext" id="logb2" style="height : 88%;">
         <h1 align="center">Welcome <%= user.username%>!</h1>
          <p align="center">Thank you, for assistance in site development.</p>
          <hr>
    <form action='/new_article' method='POST' enctype="multipart/form-data" class="input-group">
      Title:
      <br/>
      <div class="form-group has-feedback atitleBlock">
      <input type='text' name='atitle' class="form-control" id="atitle" aria-describedby="inputSuccess2Status"/>
    </div>
      <br/><br>
      Existing categories:<br/>
      <%=categorys%><br><br>
      Category:
      <br/>
      <div class="form-group has-feedback acategoryBlock">
      <input type='text' name='acategory' class="form-control" id="acategory" aria-describedby="inputSuccess2Status"/>
    </div>
      <br/><br>
      Article summary:
      <br/>
      <div class="form-group has-feedback asummaryBlock">
      <textarea rows="5" cols="100" style="resize: none; " name="asummary" class="form-control" id="asummary" aria-describedby="inputSuccess2Status"></textarea>
    </div>
      <br/><br>
      Article text:
      <br/>
      <div class="form-group has-feedback atextBlock">
      <textarea rows="10" cols="100" name="atext" style="resize: none; " class="form-control" id="atext" aria-describedby="inputSuccess2Status"></textarea>
    </div>
      <br/><br>

    Article image:<br />
    <input type='file' name='image'  style="border: none; margin: 0;"  accept="image/*" />
    <br />

    <br /><br />

      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
      <input type="submit" value='Create article.' />
    </form>
       </div>
       <div>
<script src="/javascripts/login.js"></script>
</body>
</html>
