<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Creator</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='/stylesheets/style.css' type="text/css" rel="stylesheet">

  <script>
    window.onload = function() {
      var div1 = document.getElementById('logb');
      var div2 = document.getElementById('log2');
      var div3 = document.getElementById('logb2');
      div3.style.left = div2.offsetWidth+45;
      div3.style.top = div1.offsetHeight+30;
    }
  </script>

</head>

<body>
  <div>
        <div class="logblock" id="logb">


          <ul class="nav navbar-nav navbar-right">
            <% if (!user) { %>
                          <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                          <li><a href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      <% } else { %>
                          <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                          <li><a href = '/user_profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                      <% } %>
  </ul>

       </div>
     </div>

  <div>
       <div class="mainimage" id="log2">
           <img src='/images/books.png' width=150 height=110 alt="Books"/></br></br><br>
           <a href = '/'><p class="p1">Main page</p></a>

           <a href = '/articles'><p class="p1">Article list</p></a>
           <hr>
         <p class="p1">  Participation</p>

            <% if (!user) { %>
       <p class="p2">Login first.</p>
                      <% } else { %>
                          <a href = '/new_article'><p class="p2">Create article</p></a>

                      <% } %>
           <a href = '/help'><p class="p2">Help</p></a><br>
       </div>


       <div class="profiletext" id="logb2">
         <h1 align="center">Welcome <%= user.username%>!</h1>
          <p align="center">Thank you, for assistance in site development.</p>
    <form action='/new_article' method='POST' enctype="multipart/form-data">
      Title:
      <br/>
      <input type='text' name='atitle' />
      <br/><br>
      Existing categories:<br/>
      <%=categorys%><br><br>
      Category:
      <br/>
      <input type='text' name='acategory' />
      <br/><br>
      Article summary:
      <br/>
      <textarea rows="5" cols="100" name="asummary"></textarea>
      <br/><br>
      Article text:
      <br/>
      <textarea rows="10" cols="100" name="atext"></textarea>
      <br/><br>

    Article image:<br />
    <input type='file' name='image'  style="border: none; margin: 0;"  accept="image/*" />
    <br />

    <br /><br />

      <input type="submit" value='Create article.' />
    </form>
       </div>
       <div>

</body>
</html>
