<!doctype html>


<html lang="en">
<head>
  <meta charset="utf-8">


  <title>Registration</title>

  <link href='/stylesheets/style.css' type="text/css" rel="stylesheet">
</head>


<body>
  <div class="parent">
  	<div class="block1">
		<h1>Registration</h1>
		<form action='/register' method='POST' enctype="multipart/form-data">
			Username:
      <br/>
			<input type='text' name='username' />
			<br/><br/>
      E-mail:
      <br/>
      <input type='text' name='email' />
    <br/><br/>
			Password:
      <br/>
			<input type='password' name='password' />
			<br/><br/>
      Repeat password:
      <br/>
      <input type='password' name='password2' />
      <br/><br/>
      Load Avatar:<br/>
      <input type='file' name='avatar' style="border: none" accept="image/*" />
      <br/>

      <br/>
      <br/>

			<input type="submit" class="but" value='Confirm' />
		</form>
	</div>
</div>
  <script src="js/scripts.js"></script>
</body>
</html>
